{% extends 'BaseTeacher.html' %}
{% load static %}

{% block extra_css %}
<title>Mentora - Course List</title>
<link rel="stylesheet" href="{% static 'css/Courses.css' %}">
<style>
/*-------------------------------------------------------------------------
 * Author:          Saim Munshi
 * Type:            Layout Component
 * Last Modified:   2026-02-27
 * Purpose:         (Existing Course Container) this section contains code dealing with existing 
 *-------------------------------------------------------------------------*/
.existing-container {
    background-color: rgb(250, 250, 250);
}

.existing-container-card {
    background-color: white;
    box-shadow: 0 .125rem .25rem rgba(14, 99, 155, 0.075);
    transition: 0.3s ease;
}

.existing-container-card:hover {
    background-color: rgb(247, 251, 253); 
    box-shadow: 0 1rem 3rem rgba(2, 28, 53, 0.175); 
}
/*-------------------------------------------------------------------------*/
</style>
{% endblock %}


{% block content %}
<main class="main-content">
    <!--Added By Saim Munshi:-->

    <div class="tab-content tab-scroll-area" id="existing-courses-overview">
        <div class="mb-3">
            <h1>My Courses</h1>
            <p class="text-secondary leading-relaxed">Please Create course assign sub task</p>
        </div>

        <hr class="my-4">
        <p class="fw-bold">Total Courses: {{ mentor_courses|length }}</p>
        <!---------------------------------------------------------------------------------------------->

        <!--Added By Saim Munshi:-->
        <!--Added By Mark:-->
        <a href="{% url 'create-course' %}" class="btn btn-primary mb-3">Create New Course</a>
          <!--Added By Mark:-->
        <!-- Check if the user has any courses -->
        {% if courses %}
        <ul class="list-group">
            <!-- Loop through every course -->
            {% for course in courses %}
            <!-------------------------------------------------->

              <!--Added By Saim Munshi:-->
            <div class="existing-container p-4">
                <div class="existing-container-card p-5 mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start mb-2">
                            <h6 class="fw-bold mb-0 text-primary">{{ course.title }}</h6> 
                            <form method="POST" action="/teachers/delete-course/{{ course.id }}/">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-outline-primary"
                                    onclick="return confirm('Delete this course?');">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="bi bi-pencil icon-blue"></i>
                                </button>
                            </form>

                        </div>
                        <p class="small text-muted mb-2">Instructor: {{ mentor_detected.full_name }}</p>
                        <p class="small text-dark mb-3">{{ course.description|truncatewords:20 }}</p>

                        <hr>
                        <h6 class="small fw-bold text-uppercase text-muted">Course Roadmap:</h6>
                        <div>
                            {% for task in course.tasks.all %}
                            <div class="d-flex align-items-center mb-2">
                                <div class="bg-primary me-3"  style="width: 8px; height: 8px;">
                                </div>
                                <span class="small">{{ task.task_name }}</span>
                                <span class="ms-auto badge bg-light text-dark border extra-small"
                                    style="font-size: 0.7rem;">{{ task.task_type }}</span>
                            </div>
                            {% empty %}
                            <p class="small text-muted">No list of tasks assigned.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-------------------------------------------------->
            <!--Added By Mark:-->
        </ul>
        {% else %}
        <p>There are no course to show. Please create a course.</p>
        {% endif %}
        <!--------------------------------------------------------------------------->
    </div>

</main>
{% endblock %}

{% block extra_js %}

{% endblock %}
 