
body {
    background: linear-gradient(135deg, #fbfcfd 0%, #e4edf7, #c6dbf5, #add0f8  100%);
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    padding-top: 80px;
}



.glass-card {
   
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 32px;
    padding: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.glass-card:hover {
    transform: translateY(-8px);
    background: rgba(255, 255, 255, 0.8);
    background-color: #e9f1ff;
}

/* 3. Typography & Icons */
.card-icon {
    font-size: 2.5rem;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
}
.student-bg { background: rgba(94, 234, 212, 0.1); }
.teacher-bg { background: rgba(59, 130, 246, 0.1); }

/* Added Saim Munshi: Login button style code */
.login-btn {
    padding: 8px 22px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.3s;
}

.btn-outline {
    border: 1.5px solid #3b82f6;
    color: #3b82f6;
    background: white;
}

.btn-primary {
    background: #3b82f6;
    color: white;
    border: 1.5px solid #3b82f6;
}

.reg-btn {
    background: #3b82f6;
    color: white;
    padding: 14px;
    border-radius: 16px;
    text-decoration: none;
    font-weight: 700;
    display: block;
    box-shadow: 0 10px 20px rgba(59, 130, 246, 0.2);
}

/* Added Saim Munshi: this makes modfication to body and glass card and circle when screen size is at 768 pixels */
@media (max-width: 768px) {
    body { padding-top: 100px; padding-bottom: 40px; }
    .glass-card { padding: 30px 20px; }
    .circle { width: 200px; height: 200px; }
}