{% extends "BaseTeacher.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/teacher-settings.css' %}">

<div class="main-content">

    <div class="settings-card">

        <h2>Teacher Settings</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label>Username</label>
                <input type="text" name="email" value="{{ user.email }}" required>
            </div>

            <div class="form-group">
                <label>First Name</label>
                <input type="text" name="full_name" value="{{ user.teachers_teacher_profile.full_name }}">
            </div>

            <hr>

            <h3>Change Password</h3>

            <div class="form-group">
                <label>Current Password</label>
                <input type="password" name="current_password">
            </div>

            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="new_password">
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" name="confirm_password">
            </div>

            <button class="save-btn" type="submit">Save Changes</button>

        </form>

    </div>

</div>

{% endblock %}