<!-- Added by Mark: Super basic login page. This is all the logic we need, so make it visually pleasing! -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="post">
        <h2>Login</h2>
        {% csrf_token %}
        
        {{ form.as_p }}

        {% if form.errors %}
            <p style="color: red;">Your username and password didn't match. Please try again.</p>
        {% endif %}

        <button type="submit">Login</button>
    </form>
</body>
</html>